html {
  background: linear-gradient(217deg, rgb(44, 4, 83), rgba(255,0,0,0)),
  linear-gradient(120deg, rgb(42, 1, 50), rgba(0,255,0,0) ),
  linear-gradient(300deg, rgba(1, 1, 83, 0.8), rgba(0,0,255,0) );
  background-attachment: fixed;
}

body {
  color: #6cacc5;
  font-size: 18px;
  font-family: sans-serif;
  margin: 0;
  padding: 5em 0 2em;
  text-align: center;
}

h1 {
  font-weight: 300;
  margin: 0 auto 2em;
  max-width: 9em;
}

.calculator {
  font-size: 28px;
  margin: 0 auto;
  width: 11em;

}

.viewer {
  color: #c97874;
  float: left;
  line-height: 3em;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 8em;
  height: 3em;
}

button {
  border: 0;
  outline: 0 !important;
  background: rgba(42, 50, 113, .28);
  color: #6cacc5;
  cursor: pointer;
  float: left;
  font: inherit;
  margin: 0.1em;
  width: 2.5em;
  height: 2.5em;
  &:hover {
	background: #201e40;
  }
}
